<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account - MINOR FIGURES</title>

    <style>
            * {
                 font-family: "Space Mono", monospace;
                 font-size:12px;
              }
    </style>

    <div>MINOR FIGURES > </div>

</head>

<body>
    <div>ENTER YOUR EMAIL TO LOGIN OR SIGN UP</div>

     <div>
                <label class="form-label">EMAIL</label>
            </div>

            <div>
                <input type="email"
                       name="customer[email]"
                       class="bg-white appearance-none focus:outline-none border brd border-black block w-full h-full py-2 px-4 text-gray-700 font-space uppercase leading-tight text-center placeholder-gray"
                       value=""
                       placeholder="EMAIL@ADDRESS.COM">
            </div>

            <div>
                <label class="form-label">PASSWORD</label>
            </div>

            <div>
                    <input type="password"
                            name="customer[password]"
                            class="bg-white appearance-none focus:outline-none border brd border-black block w-full h-full py-2 px-4 text-gray-700 font-space uppercase leading-tight text-center placeholder-gray"
                            value=""
                            placeholder="PASSWORD">
            </div>

            <div>
                    <button type="submit" class="bg-black font-space uppercase md:w-[383px] w-full text-white py-2 px-4">LOGIN</button>
            </div>

            <div>CREATE AN ACCOUNT</div>

            <div>FORGOT YOUR PASSWORD</div>

            <div>BY CONTINUING, YOU AGREE TO OUR TERMS OF USE AND YOU CONFIRM YOU HAVE READ OUR PRIVACY POLICY.</div>

</body>

<footer id="footer-content">
    <div class="container flex-col">
        <div> WHOLESALE </div>
        <div> INSTAGRAM </div>
        <div> MAILING LIST </div>
        <div> STORE LOCATOR </div>
        <div> SMALL PRINT </div>
        <div> SEARCH </div>
        <div> CONTACT </div>
        <div> CAREERS </div>
        <div>© MINOR FIGURES 2024 • CREDITS</div>
    </div>


</footer>
</html>