<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BARISTA OAT</title>
    <link rel="stylesheet" href="static/styles-product.css">

</head>
<div>MINOR FIGURES > SHOP</div>
<div>BARISTA OAT</div>

<body>

<img src="static/shop/shop-oat-1-1.webp">

</body>

<footer id="footer-content">
    <div class="container flex-col">
        <div> WHOLESALE </div>
        <div> INSTAGRAM </div>
        <div> MAILING LIST </div>
        <div> STORE LOCATOR </div>
        <div> SMALL PRINT </div>
        <div> SEARCH </div>
        <div> CONTACT </div>
        <div> CAREERS </div>
        <div>© MINOR FIGURES 2024 • CREDITS</div>
    </div>
</footer>
</html>