<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MF Store</title>
    <link rel="stylesheet" href="static/styles-shop.css">
</head>
<body>

    <div id="header-content">
        <div class="container justify-content">
            <div><a href="{{ url_for('home') }}">MINOR FIGURES  >  SHOP</a></div>
            <div class="login-button"><a href="{{ url_for('get_login') }}">LOGIN</a></div>
        </div>

        <div id="menu">
            <div>SHOP ALL</div>
            <div>BARISTA OAT</div>
            <div>BREWS</div>
            <div>MISCELLANEOUS</div>
        </div>

</body>
</html>