<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MF Store</title>
    <link rel="stylesheet" href="static/styles-shop.css">

    <div class="flex flex-row justify-between nav-container">
                <div><a class="position-fixed" href="{{ url_for('home') }}">MINOR FIGURES</a></div>
                <div><a class="position-fixed" href="{{ url_for('get_login') }}">LOGIN</a></div>
    </div>
</head>



<body>

    <div class="menu-and-list">
        <div class="menu">
            <ul>
              <li>SHOP ALL</li>
              <li>BARISTA OATS & BREWS</li>
              <li>MISCELLANEOUS</li>
            </ul>
        </div>

        <div class="product-list">
            <div class="grid-item hover-container"><a href="{{ url_for('get_test') }}">
                    <img src="static/shop/shop-oat-1-1.webp" alt="Oat 1-1"></a>
                    <img src="static/shop/shop-oat-1-2.webp" alt="Oat 1-2">
              </div>

              <div class="grid-item">
                <img src="static/shop/shop-oat-2-1.webp" alt="Oat 2-1">
              </div>

              <div class="grid-item">
                <img src="static/shop/shop-oat-3-1.webp" alt="Oat 3-1">
              </div>

              <div class="grid-item">
                <img src="static/shop/shop-candle-1.webp" alt="Candle 1-1">
              </div>

              <div class="grid-item">
                <img src="static/shop/shop-brew-1-1.webp" alt="Brew 1-1">
              </div>

              <div class="grid-item">
                <img src="static/shop/shop-brew-2-1.webp" alt="Brew 2-1">
              </div>

                <div class="grid-item">
                <img src="static/shop/shop-glass-1.webp" alt="Glass 1-1">
              </div>

              <div class="grid-item">
                <img src="static/shop/shop-sock-1.webp" alt="Sock 1-1">
              </div>
        </div>
    </div>




</body>

<footer id="footer-content">
    <div class="container flex-col">
        <div> WHOLESALE </div>
        <div> INSTAGRAM </div>
        <div> MAILING LIST </div>
        <div> STORE LOCATOR </div>
        <div> SMALL PRINT </div>
        <div> SEARCH </div>
        <div> CONTACT </div>
        <div> CAREERS </div>
        <div>© MINOR FIGURES 2024 • CREDITS</div>
    </div>


</footer>
</html>